---
import BaseHead from '../components/BaseHead.astro';
import MapaPuntos from '../components/MapaPuntos.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title="Mapa" description="Mapa ampliado de puntos de interés" />
	</head>
	<body>
		<main>
			<MapaPuntos fullHeight={true} />
		</main>
		<style>
			html,
			body {
				margin: 0;
				padding: 0;
				width: 100%;
			}

			main {
				width: 100vw;
				max-width: none;
				margin: 0;
				padding: 0;
			}
		</style>
	</body>
</html>
